torch==1.9.0
git+https://github.com/facebookresearch/detectron2.git
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.9/index.htmldetectron2
streamlit 
langchain
unstructured
openai
tiktoken

#PyPDF2
#faiss-cpu
#pytesseract
#pybind11
#chromadb
#Cython
# "git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI"
#unstructured[local-inference]

#layoutparser[layoutmodels,tesseract]
# !npm install localtunnel

